/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
    padding: 60px 15px 0;
  }

#homeTitle{
  text-align: center;
}

#popupTxt{
  text-align: center;
}

#homeSubTitle{
  width: fit-content;
  padding: 10px 40px 10px 40px;
  text-align: center;
  font-weight: 400;
  margin: auto;
}

#popupBtn{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: lightgray;
  border: 1px;
  border-color: black;
  outline: 0;
  font-weight: 500;
  cursor: pointer;
}

#submitImg{
  position: absolute;
  display: block;
}


#chooseFile{
  visibility: hidden;
}

#chooseFile_btn{
  border: 1px solid #d9e1e8;
  background-color: #fff;
  color: #2b90d9;
  border-radius: 2rem;
  padding: 8px 17px 8px 17px;
  font-weight: 500;
  font-size: 15px;
  box-shadow: 1px 2px 3px 0px #f2f2f2;
  width: 77px;
  display: block;
  margin: auto;
  outline: none;
}

#chooseFile_btn:focus + label,
#chooseFile_btn + label:hover{
  cursor: pointer;
}

#image-show{
  text-align: center;
}